body {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

.timeline-wrapper {
    margin: 20px auto;
    overflow: hidden;
    width: 695px;
    padding: 10px;
}

.timeline {
    display: block;
    float: left;
    width: 60px;
    margin-right: 10px;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline li {
    position: relative;
    top: -9px;
    height: 30px;
    font-size: 9px;
    color: #A6A6A6;
    list-style-type: none;
    text-align: right;
}

.timeline .half {
    top: -5px;
}

.timeline p {
    display: block;
    margin: 0;
}

.timeline .half p {
    width: auto;
}

.timeline .bold {
    font-weight: bold;
    font-size: 13px;
    color: #686868;
    margin-right: 5px;
}

.schedule-wrapper {
    display: block;
    border-left: 1px solid #CCCCCC;
    background-color: #ECECEC;
    margin-left: 70px;
    height: 720px;
    width: 600px;
    padding: 0 10px;
}

.schedule {
    position: relative;
    width: 100%;
    height: 100%;
}

.schedule .event {
    position: absolute;
    overflow: hidden;
}

.schedule .event .content {
    float: left;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-left: 4px solid #4B6EA8;
    -moz-box-sizing: border-box;
    -webkit-box-sizig: border-box;
    box-sizing: border-box;
}

.inner-content {
    padding: 8px;
}

.inner-content .event-title {
    font-size: 12px;
    color: #4B6EA8;
    margin: 0 2px 0 0;
}

.inner-content .event-location {
    font-size: 9px;
    color: #797979;
    margin: 0;
}
