body {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    color: #333333;
    background-color: white;
    font-size: 12px;
}

.timeline-wrapper {
    padding: 30px 10px;
    width: 981px;
    height: 720px;
}

.timeline {
    width: 60px;
    margin-right: 10px;
    display: block;
    float: left;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline li {
    height: 30px;
    font-size: 9px;
    color: #CECECE;
    list-style-type: none;
    text-align: right;
    position: relative;
    top: -8px;
}

.timeline .half {
    top: -5px;
}

.timeline p {
    display: block;
    margin: 0;
}

.timeline .half p {
    width: auto;
}

.timeline .bold {
    font-weight: bold;
    font-size: 13px;
    color: #686868;
    margin-right: 5px;
}

.scheduler-wrapper {
    display: block;
    border-left: 1px solid #CCCCCC;
    background-color: #ECECEC;
    margin-left: 70px;
    height: 100%;
    width: 600px;
    padding: 0 10px;
}

.scheduler {
    width: 100%;
    height: 100%;
    position: relative;
}

.scheduler .event {
    position: absolute;
    overflow: hidden;
}

.scheduler .event .content {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-left: 4px solid #4B6EA8;
    -moz-box-sizing: border-box;
    -webkit-box-sizig: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 100%;
}

.inner-content {
    padding: 8px;
}

.inner-content .event-title {
    color: #4B6EA8;
    font-size: 11px;
    display: block;
}

.inner-content .event-location {
    color: #CCCCCC;
    font-size: 9px;
    display: block;
}
